pybeaconflow.json
[{"id":"595db38d.0957d4","type":"exec","z":"65a6f6ef.8b4d8","command":"/usr/bin/sudo PyBeacon -u","addpay":true,"append":"","useSpawn":"","timer":"","name":"","x":463,"y":154.5,"wires":[["30ca0689.1f7c9a"],["8cc31909.ebcfc"],["9924e109.b607b"]]},{"id":"3f69e0f6.33f79","type":"inject","z":"65a6f6ef.8b4d8","name":"","topic":"","payload":"http://stobor.club","payloadType":"str","repeat":"","crontab":"","once":false,"x":178,"y":150,"wires":[["595db38d.0957d4"]]},{"id":"30ca0689.1f7c9a","type":"debug","z":"65a6f6ef.8b4d8","name":"","active":true,"console":"false","complete":"false","x":731,"y":85,"wires":[]},{"id":"8cc31909.ebcfc","type":"debug","z":"65a6f6ef.8b4d8","name":"","active":true,"console":"false","complete":"false","x":720,"y":156,"wires":[]},{"id":"9924e109.b607b","type":"debug","z":"65a6f6ef.8b4d8","name":"","active":true,"console":"false","complete":"false","x":720,"y":229,"wires":[]},{"id":"a73388ab.374b98","type":"inject","z":"65a6f6ef.8b4d8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":146,"y":238,"wires":[["840cceaf.104ee"]]},{"id":"840cceaf.104ee","type":"exec","z":"65a6f6ef.8b4d8","command":"/usr/bin/sudo PyBeacon -t","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":395,"y":269,"wires":[["30ca0689.1f7c9a"],["8cc31909.ebcfc"],["9924e109.b607b"]]}]
